* {
    margin: 0;
    padding: 0;
}

.main {
    border: .2rem solid black;
    background-color: lavender;
    margin: 2vh 2vw 2vh 2vw;

}

h1 {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    background-color: black;
    color: #fff;
}

.intro {
    margin: 3vh 30vw 0vh 30vw;
    box-sizing: border-box;
    font-size: 2rem;
    width: 10vw;

}

img {
    /* text-align: center; */
    margin:2vh 0vh 2vh 7vw;
    width: 20vw;
    /* float: left; */
}

.project-btn {
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    
}

h2 {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: .2vw;
}

.projects {
    text-align: center;
    font-size: 1.5rem;

}

.sub-div {
    display: inline-block;
    border: .2rem solid black;
    width: 28vw;
    align-items: center;
    margin: 1vh 1vw 1vh 1.3vw;
    background-color: khaki
}

section{
    
    border: .2rem solid black;
    margin: 17vh 2vw 2vh 2vw;
}